src/converter/CurrencyConverterPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://converter/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://converter/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://converter/" schemaLocation="CurrencyConverterPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getRates">
    <part name="parameters" element="tns:getRates"/>
  </message>
  <message name="getRatesResponse">
    <part name="parameters" element="tns:getRatesResponse"/>
  </message>
  <message name="getConversionRate">
    <part name="parameters" element="tns:getConversionRate"/>
  </message>
  <message name="getConversionRateResponse">
    <part name="parameters" element="tns:getConversionRateResponse"/>
  </message>
  <message name="convertBetweenCurrencies">
    <part name="parameters" element="tns:convertBetweenCurrencies"/>
  </message>
  <message name="convertBetweenCurrenciesResponse">
    <part name="parameters" element="tns:convertBetweenCurrenciesResponse"/>
  </message>
  <message name="getCurrencyDescription">
    <part name="parameters" element="tns:getCurrencyDescription"/>
  </message>
  <message name="getCurrencyDescriptionResponse">
    <part name="parameters" element="tns:getCurrencyDescriptionResponse"/>
  </message>
  <portType name="CurrencyConverter">
    <operation name="getRates">
      <input ns1:Action="http://converter/CurrencyConverter/getRatesRequest" message="tns:getRates" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://converter/CurrencyConverter/getRatesResponse" message="tns:getRatesResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getConversionRate">
      <input ns3:Action="http://converter/CurrencyConverter/getConversionRateRequest" message="tns:getConversionRate" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://converter/CurrencyConverter/getConversionRateResponse" message="tns:getConversionRateResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="convertBetweenCurrencies">
      <input ns5:Action="http://converter/CurrencyConverter/convertBetweenCurrenciesRequest" message="tns:convertBetweenCurrencies" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://converter/CurrencyConverter/convertBetweenCurrenciesResponse" message="tns:convertBetweenCurrenciesResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCurrencyDescription">
      <input ns7:Action="http://converter/CurrencyConverter/getCurrencyDescriptionRequest" message="tns:getCurrencyDescription" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://converter/CurrencyConverter/getCurrencyDescriptionResponse" message="tns:getCurrencyDescriptionResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

